allure-pytest==2.9.45
allure-python-commons==2.9.45
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.12
distlib==0.3.4
filelock==3.6.0
idna==3.3
iniconfig==1.1.1
packaging==21.3
pipenv==2022.4.21
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pyparsing==3.0.9
pytest==7.1.2
requests==2.27.1
six @ file:///AppleInternal/BuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-110/six-1.15.0-py2.py3-none-any.whl
tomli==2.0.1
urllib3==1.26.9
virtualenv==20.14.1
virtualenv-clone==0.5.7
